#app {
  display:flex;
  align-items: center;
  justify-content:center;
}
table {
  border-collapse:collapse;
  border: 1px solid red;
}
td {
  text-align: center;
}
th, td {
  padding: 20px;
  border: 1px solid #e9e9e9;
  width: 150px;
}